//Arrow
.arrow {
  position: absolute;
  display: block;
  top: 55%;
  transform: translateY(-50%);
  color: $secundary-color;
  cursor: pointer;
  opacity: .75;
  transition: opacity .3s;
  font-size: 12px;

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .3;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 16px;
  }
}

.arrow--right {
  right: 10px;
}

.arrow--left {
  left: 10px;
}