//Slider Indicator
.indicator {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $secundary-color;
  cursor: pointer;
  opacity: .2;
  transition: opacity .15s;

  &:hover {
    opacity: .5;
  }

  @media (min-width: $desktop-breakpoint ) {
    width: 22px;
    height: 22px;
  }
}

.indicator--active {
  &,
    &:hover {
     opacity: .75;
  }
}