//Slider Slides

  .slider__slide {
    display: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 130px;
    //height: 140px;

    &--active {
      display: block;
    }

    @media (min-width: $desktop-breakpoint ) {
      height: 260px;
    }
  }