//Slide Content
.slide-content {
  color: $secundary-color;
  position: absolute;
  top: 20%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 26px;
  user-select: none;

  @media (min-width: $desktop-breakpoint) {
    font-size: 55px;
  }
}

.slide-content--active {
  animation: Slide_Up 1.2s ease;
}