//Slide Content

  .slider-slide__content {
    color: $secundary-color;
    position: absolute;
    top: 24%;
    left: 50%;
    width: 100%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: arial,sans-serif;
    font-size: 26px;

    @media (min-width: $desktop-breakpoint) {
        font-size: 55px;
      }
  }