//Slide Description

.slider-slide__description {
    position: absolute;
    top: 55%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: $secundary-color;
    font-family: arial, sans-serif;
    font-style: italic;
    font-size: 10px;


    @media (min-width: $desktop-breakpoint ) {
        font-size: 24px;
      }
}