//Slider Arrow

.slider__arrow {
    position: absolute;
    display: block;
    top: 55%;
    color: $secundary-color;
    cursor: pointer;
    opacity: .75;
    transform: translateY(-50%);
    transition: opacity .3s;
    font-size: 12px;

    &:focus {
      outline: 0;
    }

    &:hover {
      opacity: .3;
    }

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }

    @media (min-width: $desktop-breakpoint ) {
      font-size: 16px;
    }
}