//Slider Indicator

  .slider__indicator {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $secundary-color;
    cursor: pointer;
    opacity: .2;
    transition: opacity .15s;

    &:hover {
      opacity: .5;
    }

    &--active {
      &,
      &:hover {
        opacity: .75;
      }
    }

    @media (min-width: $desktop-breakpoint ) {
        width: 20px;
        height: 20px;
    }
  }