//Slide Content

  .slider-slide__content {
    position: absolute;
    top: 26%;
    left: 50%;
    width: 100%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: $secundary-color;
    font-family: arial,sans-serif;
    font-size: 55px;
  }