//Slider Container

  .slider-container {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $desktop-breakpoint ) {
      min-height: 300px;
    }
}