//Slider Container

  .slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @media (min-width: $desktop-breakpoint ) {
    //   min-height: 300px;
    // }
}