//Slider

.slider {
  position: relative;
  user-select: none;
  height: 160px;

  @media (min-width: $desktop-breakpoint) {
    height: 300px;
   }
}

// //Slider Container
//
//   .slider-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     user-select: none;
// }