//Slider Indicators

  .slider__indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //margin-bottom: 25px;

    li {
      &:nth-of-type(n + 2){
        margin-left: 20px;
      }
    }
  }