//Slider Container

  .slider-container {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    min-width: 400px;
  }
  